.contact_social_media {
    display: flex;
    flex-direction: column;
    color: var(--silver);
    margin-left: 5vw;
}

.h1 {
    font-family: var(--font-family);
    text-align: left;
    color: var(--silver);
    text-decoration: underline;
    margin-top: 2vw;
}

.social_media a{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    color: var(--silver);
    text-decoration: none;
}

.contact_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}