@media only screen and (max-width: 1000px) {
    
    .featured_products {
        display: grid;
        grid-gap: 40px; 
        grid-template-rows: repeat(3, 200px);
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {
    .Checkout_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 850px) {
    .about_main {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .about_section1 {
        flex-direction: column-reverse;
        margin-top: 10px;
        justify-content: center;
    }

    .product_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5vw;
    }

    .product_img img {
        margin: 4vw;
        width: auto;
    }

    .product_footer {
        position: absolute;
        bottom: auto;
        width: 100%;
    }

    .add_to_cart_cta button {
        font-size: 1.2rem;
    }

    .footer_about {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 16%;
    }
}

@media only screen and (max-width: 759px) {
    
    .nav {
        display: flex;
        justify-content:center;
        background-color: var(--green);
    }

    .product_main, h1 {
        margin-top: 8vw;
    }

    .featured_products {
        display: grid;
        grid-gap: 40px; 
        grid-template-rows: repeat(3, 200px);
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
    }

    .hamburger_label {
        font-size: 5vw;
        display: flex ;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
        position:absolute;
        background-color: var(--green);
        margin-bottom: 10px;
    }
    .menu {
        text-align: center;
        display: none;
        margin-top: 50px;
    }

    .menu a {
        display: block;
        margin-right: 0;
        color:var(--silver);
    }

    #toggle:checked + .menu {
        display: flex;
        flex-direction: column;
    }

    .about_img {
        display: flex;
        justify-content: center;
        word-wrap: normal;
    }
  
    .product_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product_img img {
        margin: 3vw;
        width: 65%;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 10%;
    }

    .contact_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
    }
   
    .about_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .cart_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .checkout_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .product_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    .product_size_cta button{
        font-size: 1rem;
    }

    .add_to_cart_cta button {
        font-size: 1.2rem;
    }

    .cart_main {
        margin-top: 8vw;
        padding-bottom: 200px;
    }

    .cart_cta {
        grid-template-columns: repeat(8,1fr);
    }

    .cart_cta_shopping {
        grid-column-start: 3;
        grid-column-end:5 ;
    }

    .cart_cta_checkout {
        grid-column-start: 7;
        grid-column-end: 8;
    }

    .socialmedia__icons {
        display: flex;
        flex-direction: column;
        height: 60%;
    }

    .Checkout_details {
        padding-top: 3vw;
        margin-top: 4vw;
    }

    .checkout_label label {
        display: block;
        font-size: 1.1rem;
        color: var(--green);
    }
}

@media only screen and (max-width: 549px) {

    .featured_products {
        display: grid;
        grid-gap: 40px; 
        grid-template-rows: repeat(4, 150px);
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
    }
    h1 {
        font-size: 5vw;
        margin-top: 12vw;
    }
    .adjectives {
        font-size: 0.8rem;
    }
    .footer {
        font-size: 0.9rem;
    }
    .socialmedia__icons {
        display: flex;
        flex-direction: column;
        height: 70%;
    }
   
    .product_main {
        padding-bottom: 30px;
        margin-bottom: 0;
    }
}