.product_main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--silver);
    background-color: var(--silver);
    padding-bottom: 100px;
}

.product_image{
    margin: 1vw 0 0 0;
    max-width: 100%;
    border: 2px solid var(--green);
    border-radius: 3px;
    margin-right: 30px;
}

.product_text p{
    font-size: 1.2rem;
}

.product_size_cta {
    display: flex;
    justify-content: center;
}

.product_size_cta button {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
}

.product_number_cta {
    display: flex;
    align-items: center;
}

.product_number_cta input {
    border: 3px solid var(--green);
    color: var(--silver);
    background-color: var(--green);
    font-size: 1.3rem;
    margin: 0;
    width: auto;
    height: 30px;
}

.product_number_cta_addtocart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add_to_cart_cta button{
    height: 40px;
    margin: 0;
    font-size: 30px;
    border-radius: 4px;
}

.in_stock_info {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.in_stock_info p {
    margin: 10px ;
    font-size: 1.2rem;
}

.in_stock_info .fas {
    color: #D96C75;
}

.product_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}