.mainlogo {
    display: flex;
    justify-content: center;
    
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    height: auto;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    border-radius: 7px;
    padding: 4px;
    margin: 1vw 15vw 0 15vw;
    max-width: 100%;
    
}

.active {
    text-decoration: underline;
}
.navbar {
   list-style: none;
   margin: 0 10vw 0 0;
   padding: 0;
   text-align: center;
   
}

.navbar li {
    display: inline;
    
}

.navbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #DDDDDD;
}

input {
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}
button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer ;
    margin-top: 10px;
}