html {
    background-image: url(../images/Homepage_background_min.jpg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
  }
header {
    border-radius: 0 8px 8px;
    overflow-x: hidden;
    width: 100%;
}
.mainlogo {
    display: flex;
    justify-content: center;
    
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    
}
.hamburger-menu {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    border-radius: 7px;
    padding: 2px;
    margin: 1vw 0vw 0vw 0vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    
}

.navbar {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
      
}

.search_cta {
    font-size: 1.2rem;
}

.cart_cta {
    font-size: 1.2rem;
}
.navbar li {
    display: inline;
    
}
.fas {
    font-size: 1.2rem;
}
.navbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #DDDDDD;

}
.active {
    border-bottom: 2px solid #DDDDDD;
    
}
li a:hover {
    border-bottom: 2px solid;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}

button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #0A3641;
    
}

.featured_products {
    display: grid;
    grid-row-gap: 30px; 
    grid-template-rows: repeat(3, 15vw);
    grid-template-columns: repeat(4, 21vw);
    justify-content: center;
    
}
.product_container {
    text-align: center;
    max-width: 18vw;
    max-height: 16vw;
    margin-left: 2vw;

}   

.product_img {
    display: block;
    margin-left: 30px;
    padding: 0;
    max-width: 80%;
    border-radius: 5px;
    border: solid #0A3641 2px;

}
.text-price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #DDDDDD;
    font-size: 1.2rem;
}
.adjectives {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #DDDDDD;
    margin-top: 2vw;
}

footer {
    display: flex;
    justify-content: space-between;


}
.footer {
    list-style: none;
    color: #DDDDDD;
    
}

.email-link {
    color: #DDDDDD;
    text-decoration: none;
}

.socialmedia__icons img:hover {
    text-decoration: underline;
  }


@media ()