html {
    background-image: url(../images/Homepage_background_min.jpg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
  }
header {
    border-radius: 0 8px 8px;
    overflow-x: hidden;
    width: 100%;
}
.mainlogo {
    display: flex;
    justify-content: center;
    
}
a {
    text-decoration: none;
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    
}
nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    border-radius: 7px;
    padding: 2px;
    margin: 1vw 0vw 0vw 0vw;
    
}

.active {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
      
}

.navbar li {
    display: inline;
    
}

.navbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #DDDDDD;

}

input {
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}
button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer ;
    margin-top: 10px;
}
h1 {
    text-align: center;
    color: #0A3641;
    
}
.adjectives {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #DDDDDD;
}
.featured_products {
    display: grid;
    grid-row-gap: 40px; 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 21vw);
   
    justify-content: center;
    max-width: 100%;

   
}
.product_container {
    text-align: center;
    max-width: 280px;
    max-height: 260px;
    margin-left: 1vw;

}   

.product_img {
    display: block;
    margin-left: 25px;
    padding: 0;
    max-width: 80%;
    border-radius: 5px;
    border: solid #0A3641 2px;

}
footer {
    display: flex;
    justify-content: space-between;

}
.footer {
    list-style: none;
    color: #DDDDDD;
}

.email-link {
    color: #DDDDDD;
    text-decoration: none;
}

.social__icons {
    
}