html body {
    margin:0 ;
    padding: 0;
}
.main_img {
    background-image: url(../images/main_img.jpg);
}

.women_img {
    background-image: url(../images/women_img.jpg);
}

.men_img {
    background-image: url(../images/men_img.jpg);
}
.contact_img {
    background-image: url(../images/contact_img.jpg);
}

.main_img, .women_img, .men_img, .contact_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.mainlogo {
    display: flex;
    justify-content: center;
    
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    margin-bottom: 10px;
    
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    opacity: 95%;
   
    
}
.menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-align: left;
    
}
.menu a{
    padding: 10px;
    color: #DDDDDD;
    text-decoration: none;
    position: relative;
}

.hamburger_label {
    
    font-size: 1.5em;
    color: #DDDDDD;
    display: none;
    
}
#toggle {
    display: none;

}

.icons_cta {
    display: flex;
}

.search_cta {
    font-size: 1.2rem;
}

.fa {
    font-size: 1.3rem;
    padding-bottom: 9px;
    margin-top: 4px;
}

.fas {
    font-size: 1.3rem;
    margin-top: 5px;
    padding-bottom: 1px;

}

.active {
    border-bottom: 2px solid #DDDDDD;
}

.menu a:hover {
    border-bottom: 2px solid;  
}

.fa:hover {
    border-bottom: 2px solid #DDDDDD;
}

.fas:hover {
    border-bottom: 2px solid #DDDDDD;
}

.text-price:hover {
    border-bottom:  2px solid #DDDDDD;

}

.product_number_cta i:hover {
    border: none;
}

form {
    margin-left: 20px;
}
input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}

button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #0A3641;

    
}

.featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    
}
.product_container {
    text-align: center;
    max-width: 400px;
    max-height: ;
}   

.product_img {
    display: block;
    margin: 0 0 7px 0 ;
    padding: 0;
    max-width: 100%;
    border-radius: 5px;
    border: solid #0A3641 2px;

}
.text-price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #DDDDDD;
    border: solid #0A3641;
    border-radius: 6px;
    background-color: #0A3641;
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: 400;
}
.adjectives {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    border: #0A3641 solid;
    background-color: #0A3641;
    opacity: 90%;
    text-align: center;
    color: #DDDDDD;
    margin-top: 4vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3641;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5vw;
    
}
.footer {
    list-style: none;
    color: #DDDDDD;
    margin: 40px;
    
}

.email-link {
    color: #DDDDDD;
    text-decoration: none;
}

.socialmedia__icons {
    margin-right: 2vw;
    text-decoration: none;
    
}

/** styling for contact.html**/

.contact__social_media {
    display: flex;
    flex-direction: column;
    color: #DDDDDD;
    margin-left: 5vw;
}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #DDDDDD;
    text-decoration: underline;
}
.social_media a{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    color: #DDDDDD;
    text-decoration: none;

}

.contact_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}


/** styling for about.html **/

.about_html {
    background-color: #DDDDDD;
}
.about_main {
    display: flex;
    justify-content: center;
    margin: 3vw;

}
.about_section1, .about_section2{
    display: flex;
    flex-direction: column;
    text-align: center;  
    max-width: 540px;
    margin: 0 1% 0 1%;
}
.about_img {
    border: solid 1px #0A3641;
    border-radius: 7px;
    max-width: 100%;
}

.about_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;

}

/**styling for product.html **/
* {
    margin: 0;
    padding: 0;
}

.product_main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #DDDDDD;
    background-color: #DDDDDD;
    padding-bottom: 100px;
}

.product_image{
    margin: 1vw 0 0 0;
    max-width: 100%;
    border: 2px solid #0A3641;
    border-radius: 3px;
    margin-right: 30px;
}

.product_text p{
    font-size: 1.2rem;
}

.product_size_cta {
    display: flex;
    justify-content: center;
}

.product_size_cta button {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
}

.product_number_cta {
    display: flex;
    align-items: center;

}
.product_number_cta input {
    border: 3px solid #0A3641;
    color: #DDDDDD;
    background-color: #0A3641;
    font-size: 1.3rem;
    margin: 0;
    width: auto;
    height: 30px;
}

.product_number_cta_addtocart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}

.add_to_cart_cta button{
    height: 40px;
    margin: 0;
    font-size: 30px;
    border-radius: 4px;

}
.in_stock_info {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.in_stock_info p {
    margin: 10px ;
    font-size: 1.2rem;
}

.in_stock_info .fas {
    color: #D96C75;
}

.product_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

/** Styling for shopping-cart.html**/

.cart_main {
    background-color: #DDDDDD;
    padding-bottom: 100px;

}

.cart_product-info{
    margin: 0 1vw 0 1vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1vw;
    border-bottom: 2px solid #0A3641;
    background-color: #ffff;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.cart_top_labels {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 1vw;
    margin: 0 1vw 1vw 1vw;
    align-items: center;
    border-bottom: 2px #0A3641 solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.cart_product_img {
    border: 1px #0A3641 solid;
    border-radius: 4px;
}

.cart_total {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}
.cart_total_label {
    grid-column-start: 12;
    grid-column-end: 12;
    border-left: 2px #0A3641 solid;
    border-bottom: 2px #0A3641 solid;
    
}   

.cart_total_variables {
    grid-column-start: 13;
    grid-column-end: 13;
    border-right: 2px #0A3641 solid;
    border-bottom: 2px #0A3641 solid;
}

.cart_cta {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    margin-top: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart_cta_shopping{
    grid-column-start: 7;
    grid-column-end: 10;
    justify-self: center;
    border: 2px #0A3641 solid;
    border-radius: 3px;
    background-color: #0A3641;
    color: #DDDDDD;
    padding: 10px;
    
}
.cart_cta_shopping a {
    text-decoration: none;
    color: #DDDDDD;
    
}
.cart_cta_checkout{
    grid-column-start: 13;
    grid-column-end: 13;
    justify-self: center;
    border: 2px #0A3641 solid;
    border-radius: 3px;
    background-color: #0A3641;
    color: #DDDDDD;
    padding: 10px;
}
.cart_cta_checkout a {
    text-decoration: none;
    color: #DDDDDD;
}
.cart_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
}

/** Styling for checkout.html**/

.checkout_h2 {
    display: flex;
    justify-content: space-evenly;
    padding: 5vw 0 10px 0;
    background-color: #DDDDDD;
}

.Checkout_details {
    display: flex;
    justify-content: space-evenly;
    padding:20px;
    background-color: #DDDDDD;
    
}

.checkout_shipping_details {
    display: flex;
    flex-direction: column;

}

.checkout_shipping_wrap {
    display: flex;
    flex-direction: row;
}

.checkout_shipping_column_1 {
    margin: 0 10px 0 10px;
}

.checkout_payment_column_2 {
    display: flex;
    flex-direction: row;
    
}

.checkout_label, .checkout_label_valid, .checkout_label_cvc {
    display: block;
    font-size: 1.1rem;
    color: #0A3641;
}

.checkout_input, .checkout_input_p {
    border: #0A3641 2px solid;
    padding: 5px;
    margin: 10px;
    width: 80%;
}

.checkout_input_v {
    border: #0A3641 2px solid;
    padding: 5px;
    margin: 10px;
    width: 60%;
}

.checkout_payment_logo i {
    font-size: 2rem;
    color: #0A3641;

}


.checkout_finish_order_cta{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #DDDDDD;
    
}
.checkout_finish_order_cta a {
    padding: 10px;
    border: 2px #0A3641 solid;
    border-radius: 3px;
    background-color: #0A3641;
    color: #DDDDDD;
    text-decoration: none;

}
.checkout_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/** media queries**/

@media only screen and (max-width: 1000px) {
    
    .featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    
    }
}

@media only screen and (max-width: 900px) {
    .Checkout_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media only screen and (max-width: 850px) {
    .about_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .about_section1 {
        flex-direction: column-reverse;
        margin-top: 10px;
        justify-content: center;
        
    }

    .product_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5vw;
    }
    .product_img img {
        margin: 4vw;
        width: auto;
    }
    .product_footer {
        position: absolute;
        bottom: auto;
        width: 100%;
        
    }

    .add_to_cart_cta button {
        font-size: 1.2rem;
    }

    .footer_about {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 16%;
    }
}

@media only screen and (max-width: 759px) {
    
    .nav {
        display: flex;
        justify-content:center;
        background-color: #0A3641;
    }

    .product_main, h1 {
        margin-top: 8vw;
    }

    .featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 200px);
    justify-content: center;

    }

    .hamburger_label {
        font-size: 5vw;
        display: flex ;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
        position:absolute;
        background-color: #0A3641;
        margin-bottom: 10px;
        
    }
    .menu {
        text-align: center;
        display: none;
        margin-top: 50px;
    
    }

    .menu a {
        display: block;
        margin-right: 0;
        color:#DDDDDD;
        
    }
    #toggle:checked + .menu {
        display: flex;
        flex-direction: column;
    }

    .about_img {
        display: flex;
        justify-content: center;
        word-wrap: normal;
    }
  
    .product_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product_img img {
        margin: 3vw;
        width: 65%;

    }
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 10%;
    }

    .contact_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
    }
   
    .about_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    
    }

    .cart_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .checkout_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .product_footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    .product_size_cta button{
        font-size: 1rem;
    }

    .add_to_cart_cta button {
        font-size: 1.2rem;
    }

    .cart_main {
        margin-top: 8vw;
        padding-bottom: 200px;
    }
    .cart_cta {
        grid-template-columns: repeat(8,1fr);
    }
    .cart_cta_shopping {
        grid-column-start: 3;
        grid-column-end:5 ;
    }

    .cart_cta_checkout {
        grid-column-start: 7;
        grid-column-end: 8;
    }
    .socialmedia__icons {
        display: flex;
        flex-direction: column;
        height: 60%;
    }
    .Checkout_details {
        padding-top: 3vw;
        margin-top: 4vw;
    }

    .checkout_label label {
        display: block;
        font-size: 1.1rem;
        color: #0A3641;
    }
}

@media only screen and (max-width: 549px) {

    .featured_products {
        display: grid;
        grid-gap: 40px; 
        grid-template-rows: repeat(4, 150px);
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
    }
    h1 {
        font-size: 5vw;
        margin-top: 12vw;
    }
    .adjectives {
        font-size: 0.8rem;
    }
    .footer {
        font-size: 0.9rem;
    }
    .socialmedia__icons {
        display: flex;
        flex-direction: column;
        height: 70%;

    }
   
    .product_main {
        padding-bottom: 30px;
        margin-bottom: 0;
    }
}