html body{
    background-image: url(../images/Homepage_background_min.jpg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  
.mainlogo {
    display: flex;
    justify-content: center;
    
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    
}
.menu {
    margin: 10px 0;
    text-align: left;
}
.menu a{
    padding: 10px;
    color: #DDDDDD;
    text-decoration: none;
    
}

label {
    margin: 10px;
    font-size: 1.5em;
    color: #DDDDDD;
    display: none;
    
}
#toggle {
    display: none;
}

.icons_cta {
    display: flex;
}

.search_cta {
    font-size: 1.2rem;
}

.cart_cta {
    font-size: 1.2rem;
}

.fa {
    font-size: 1.3rem;
    padding-bottom: 9px;
    margin-top: 5px;
}

.fas {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 10px;

}

.active {
    border-bottom: 2px solid #DDDDDD;
    
}
.nav a:hover {
    border-bottom: 2px solid;
}

.fa:hover {
    border-bottom: 2px solid #DDDDDD;
}

.fas:hover {
    border-bottom: 2px solid #DDDDDD;
}
.text-price:hover {
    border-bottom:  2px solid #DDDDDD;

}
form {
    margin-left: 20px;
}
input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}

button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #0A3641;
    
}

.featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    
}
.product_container {
    text-align: center;
    max-width: 400px;
    max-height: ;
}   

.product_img {
    display: block;
    margin-left: 0px;
    padding: 0;
    max-width: 100%;
    border-radius: 5px;
    border: solid #0A3641 2px;

}
.text-price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #DDDDDD;
    font-size: 1.2rem;
}
.adjectives {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #DDDDDD;
    margin-top: 2vw;
}

footer {
    display: flex;
    justify-content: space-between;


}
.footer {
    list-style: none;
    color: #DDDDDD;
    
}

.email-link {
    color: #DDDDDD;
    text-decoration: none;
}

.socialmedia__icons {
    margin-right: 2vw;
    
}
.socialmedia__icons img:hover {
    margin-bottom: 20px;
  }

@media only screen and (max-width: 1000px) {
    .nav {
        display: flex;
        justify-content: space-between
    }
    
    label {
        display: block ;
        cursor: pointer;
        float: left;
        position: relative;
    }
    .menu {
        text-align: center;
        width: 10%;
        display: none;
        z-index: ;
    }

    .menu a {
        display: block;
        margin-right: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .featured_products {
        display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    }
}