html body {
    margin:0 ;
    padding: 0;
}
.main_img {
    background-image: url(../images/main_img.jpg);
}

.women_img {
    background-image: url(../images/women_img.jpg);
}
.men_img {
    background-image: url(../images/men_img.jpg);
}
.contact_img {
    background-image: url(../images/contact_img.jpg);
}

.main_img, .women_img, .men_img, .contact_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.mainlogo {
    display: flex;
    justify-content: center;
    
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    margin-bottom: 10px;
    
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #0A3641;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    opacity: 95%;
   
    
}
.menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-align: left;
    
}
.menu a{
    padding: 10px;
    color: #DDDDDD;
    text-decoration: none;
    position: relative;
}

label {
    margin: 10px;
    font-size: 1.5em;
    color: #DDDDDD;
    display: none;
    
}
#toggle {
    display: none;

}

.icons_cta {
    display: flex;
}

.search_cta {
    font-size: 1.2rem;
}

.fa {
    font-size: 1.3rem;
    padding-bottom: 9px;
    margin-top: 4px;
}

.fas {
    font-size: 1.3rem;
    margin-top: 5px;
    padding-bottom: 1px;

}

.active {
    border-bottom: 2px solid #DDDDDD;
}

.menu a:hover {
    border-bottom: 2px solid;  
}

.fa:hover {
    border-bottom: 2px solid #DDDDDD;
}

.fas:hover {
    border-bottom: 2px solid #DDDDDD;
}

.text-price:hover {
    border-bottom:  2px solid #DDDDDD;

}
form {
    margin-left: 20px;
}
input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    
}

button {
    color: #DDDDDD;
    background-color: #0A3641;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #0A3641;

    
}

.featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    
}
.product_container {
    text-align: center;
    max-width: 400px;
    max-height: ;
}   

.product_img {
    display: block;
    margin: 0 0 7px 0 ;
    padding: 0;
    max-width: 100%;
    border-radius: 5px;
    border: solid #0A3641 2px;

}
.text-price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #DDDDDD;
    border: solid #0A3641;
    border-radius: 6px;
    background-color: #0A3641;
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: 400;
}
.adjectives {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    border: #0A3641 solid;
    background-color: #0A3641;
    opacity: 90%;
    text-align: center;
    color: #DDDDDD;
    margin-top: 2vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A3641;
    
}
.footer {
    list-style: none;
    color: #DDDDDD;
    margin: 40px;
    
}

.email-link {
    color: #DDDDDD;
    text-decoration: none;
}

.socialmedia__icons {
    margin-right: 2vw;
    text-decoration: none;
    
}
.socialmedia__icons img:hover {
    margin-bottom: 5px;
  }
/** styling for contact.html**/

.contact__social_media {
    display: flex;
    flex-direction: column;
    color: #DDDDDD;
    margin-left: 5vw;
}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #DDDDDD;
    text-decoration: underline;
}
.social_media a{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    color: #DDDDDD;
    text-decoration: none;

}

.footer_about {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16%;
    opacity: 90%;
}

/** styling for about.html **/

.about_html {
    background-color: #DDDDDD;
}
.about_main {
    display: flex;
    justify-content: center;
    margin: 3vw;

}
.about_section1, .about_section2{
    display: flex;
    flex-direction: column;
    text-align: center;  
    max-width: 540px;
    margin: 0 1% 0 1%;
}
.about_img {
    border: solid 1px #0A3641;
    border-radius: 7px;
    max-width: 100%;
}

/**styling for product.html **/

.product_main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_border {
    border: solid #DDDDDD;
    background-color: #DDDDDD;
    border-radius: 3px;
    padding: 5px;
    width: auto;
    
}
.product_img {
    margin: 2vw 0 0 0;
}
.product_img {
    width:auto;
}

.product_text p{
    font-size: 1.2rem;
}

.product_size_cta {
    display: flex;
    justify-content: center;
}

.product_size_cta button {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
}

.product_number_cta {
    display: flex;
    align-items: center;

}
.product_number_cta button {
    height: 40px;
    width: 40px;
    margin: 30px 0;
}

.product_number_cta_1 {
    border-radius: 4px 0 0 4px;
}
.product_number_cta_2 {
    border-radius: 0 4px 4px 0;
}

.product_number_cta p {
    font-size: 30px;
    border: #0A3641 solid;
    padding: 0 10px 0 10px;

}

.product_number_cta_addtocart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}

.add_to_cart_cta button{
    height: 40px;
    margin: 0;
    font-size: 30px;
    border-radius: 4px;

}
.in_stock_info {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.in_stock_info p {
    margin: 10px ;
    font-size: 1.2rem;
}

.in_stock_info .fas {
    color: #D96C75;
}

.product_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 90%;
}


/** media queries**/

@media only screen and (max-width: 1000px) {
    
    .featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    
    }
}

@media only screen and (max-width: 850px) {
    .about_main {
        display: flex;
        flex-direction: column;
    }

    .about_section1 {
        flex-direction: column-reverse;
        margin-top: 10px;
    }

.product_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vw;
}
.product_img, img {
    margin: 4vw;
    width: auto;
}
.product_footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    opacity: 90%;
}
.product_size_cta button{
    font-size: 1rem;
}

.product_number_cta p {
    font-size: 30px;
    border: #0A3641 solid 2.8px;
    padding: 0 10px 0 10px;
}
.add_to_cart_cta button {
    font-size: 1.2rem;
}
}

@media only screen and (max-width: 759px) {
    
    .nav {
        display: flex;
        justify-content:center;
        background-color: #0A3641;
    }

    .product_main, h1 {
        margin-top: 8vw;
    }

    .featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(2, 200px);
    justify-content: center;

    }

    label {
        font-size: 5vw;
        display: flex ;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
        position:absolute;
        background-color: #0A3641;
        margin-bottom: 10px;
        
    }
    .menu {
        text-align: center;
        display: none;
        margin-top: 50px;
    
    }

    .menu a {
        display: block;
        margin-right: 0;
        color:#DDDDDD;
        
    }
    #toggle:checked + .menu {
        display: flex;
        flex-direction: column;
        
    }
    .product_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10vw;
    }
    .product_img, img {
        margin: 4vw;
        width: 65%;

    }
    .product_footer {
        position: absolute;
        bottom: auto;
        width: 100%;
        opacity: 90%;
    }
    .product_size_cta button{
        font-size: 1rem;
    }

    .product_number_cta p {
        font-size: 30px;
        border: #0A3641 solid 2.8px;
        padding: 0 10px 0 10px;
    }
    .add_to_cart_cta button {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 549px) {

    .featured_products {
        display: grid;
        grid-gap: 40px; 
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: repeat(1, 200px);
        justify-content: center;
    }
    h1 {
        font-size: 5vw;
        margin-top: 12vw;
    }
    .adjectives {
        font-size: 0.8rem;
    }
    .footer {
        font-size: 0.9rem;
    }
    .socialmedia__icons {
        display: flex;
        flex-direction: column;
        height: 70%;

    }
}