@import "/Styles/contact.css";
@import "/Styles/about.css";
@import "/Styles/product.css";
@import "/Styles/shoppingcart.css";
@import "/Styles/checkout.css";
@import "/Styles/hovereffects.css";
@import "/Styles/mediaqueries.css";


:root {
    --green: #0A3641;
    --silver: #DDDDDD;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin:0 ;
    padding: 0;
}

.main_img {
    background-image: url(../images/main_img.jpg);
}

.women_img {
    background-image: url(../images/women_img.jpg);
}

.men_img {
    background-image: url(../images/men_img.jpg);
}

.contact_img {
    background-image: url(../images/contact_img.jpg);
}

.main_img, .women_img, .men_img, .contact_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
}

.mainlogo {
    display: flex;
    justify-content: center;
}

.mainlogo_img {
    width: 30%;
    max-width: 350px;
    max-height: 180px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--green);
    font-family: var(--font-family);
    font-size: 1.2rem;
    opacity: 95%;
}

.hamburger_label {
    font-size: 1.5em;
    color: var(--silver);
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-align: left;
}

.menu a{
    padding: 10px;
    color: var(--silver);
    text-decoration: none;
    position: relative;
}

#toggle {
    display: none;
}

.active {
    border-bottom: 2px solid var(--silver);
}

.icons_cta {
    display: flex;
}

.search_cta {
    font-size: 1.2rem;
}

form {
    margin-left: 20px;
}

input {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

button {
    color: var(--silver);
    background-color: var(--green);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.fa {
    font-size: 1.3rem;
    padding-bottom: 9px;
    margin-top: 4px;
}

.fas {
    font-size: 1.3rem;
    margin-top: 5px;
    padding-bottom: 1px;
}

h1 {
    font-family: var(--font-family);
    font-size: 2.5rem;
    text-align: center;
    color: var(--green); 
}

.featured_products {
    display: grid;
    grid-gap: 40px; 
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
}

.product_container {
    text-align: center;
    max-width: 400px;
}   

.product_img {
    display: block;
    margin: 0 0 7px 0 ;
    padding: 0;
    max-width: 100%;
    border-radius: 5px;
    border: solid var(--green) 2px;
}

.text-price {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--silver);
    border: solid var(--green);
    border-radius: 6px;
    background-color: var(--green);
    opacity: 90%;
    font-size: 1.5rem;
    font-weight: 400;
}

.adjectives {
    font-family: var(--font-family);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    border: var(--green) solid;
    background-color: var(--green);
    opacity: 90%;
    text-align: center;
    color: var(--silver);
    margin-top: 4vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green); 
    width: 100%;
    height: 5vw;
}

.footer {
    list-style: none;
    color: var(--silver);
    margin: 40px;
}

.email-link {
    color: var(--silver);
    text-decoration: none;
}

.socialmedia__icons {
    margin-right: 2vw;
    text-decoration: none;
}